body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:997px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:997px;
  height:1003px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:997px;
  height:1003px;
  display:flex;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:264px;
  width:167px;
  height:139px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:264px;
  width:167px;
  height:139px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:264px;
  width:167px;
  height:139px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:264px;
  width:167px;
  height:139px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:18px;
  width:97px;
  height:40px;
  display:flex;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
