.ax_default {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.ellipse {
}
.image {
}
.placeholder {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#1E98D7;
}
._一级标题 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:13px;
  text-align:left;
}
._段落 {
  text-align:left;
}
.tree_node {
  text-align:left;
}
._表单提示文本 {
  color:#999999;
}
._表单禁用 {
}
._流程图形状 {
}
.icon {
}
.heading_3 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.primary_button1 {
  color:#FFFFFF;
}
.box_1 {
}
.checkbox {
  text-align:left;
}
._形状 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._连接线 {
  font-size:13px;
  color:#333333;
}
._表单提示 {
  color:#999999;
}
.text_field {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.label1 {
  font-size:14px;
  text-align:left;
}
.checkbox1 {
  text-align:left;
}
.paragraph {
  text-align:left;
}
.line {
}
.heading_1 {
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.horizontal_line {
}
.shape {
}
.box_2 {
}
.image1 {
  color:#000000;
}
.table {
}
.table_cell {
}
.iconfont {
  font-family:"iconfont", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
._默认样式 {
}
.flow_shape {
}
._文本段落 {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.box_3 {
}
._形状1 {
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FF0066;
}
._图片 {
}
textarea, select, input, button { outline: none; }
